.button {
    -fx-cursor: hand;
    -fx-padding: 8 8 8 8;
}

.smallButton {
    -fx-padding: 5 5 5 5;
}

.arrowButton {
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.middleBoard {
    -fx-background-image: url("../resources/pictures/board.png");
    -fx-background-size: 80% 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.propertyCard {
    -fx-background-color: white;
    -fx-border-color: black;
}